
<!--======第一部分======-->
<div class="row">
  <div class="section1 wow rollIn" data: {wow_delay: 1.5s} >
    <a href="/products">
      <h1>这里不仅卖包
        <br>还卖萌!
      </h1>
      <h3>情绪辞典，只为<span>你</span>，私人定制！</h3>
    </a>
  </div>


  <div class="first-line">
    <h1>—欢迎来到卖萌网—</h1>
  </div>
</div>
<!--======第一部分end======-->



<!--======第二部分======-->
<div class="row">
  <div class="section2">
    <div class="section2-title">
      <h1>最hot表情</h1>
      <h3>用心做表情，每个表情都给你惊喜</h3>
    </div>
    <div class="short-line"></div>

    <div class="container products-box">
      <div class="row">

        <div class="products-list">
          <ul>
            <% @products.each do |product| %>
              <li>
                <div class="product-price">
                    <%= link_to product_path(product) do %>
                      <% if product.photos.present? %>
                        <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
                      <% else %>
                        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                      <% end %>
                    <% end %>
                    <p class="price">￥
                    <%= product.price %>
                    </p>
                    <p>
                    <%= product.title %>
                    </p>
                    <p class="shopcart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <%= link_to("加入购物车", add_to_cart_product_path(product[:id]), method: :post) %>
                    </p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

<!--======第二部分end======-->


<!--======第三部分======-->

<div class="row">
  <div class="section2">
    <div class="section2-title">
      <h1>最优质服务</h1>
      <h3>用心做表情，每个表情都给你惊喜</h3>
    </div>
    <div class="short-line"></div>

    <div class="container service-box">
      <div class="row">
        <div class="col-md-4 ">
          <div class="service-item-img text-center">
            <%= image_tag("designer.jpg") %>
          </div>


          <div class="service-info text-center">
            <h4>表情不到位？</h4><br/>
            <p>我们为每位客户配置专属设计师</p>
            <p>一对一服务，精益求精，直到您满意。
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-item-img text-center">
            <img src="https://ww3.sinaimg.cn/large/006tNc79gy1ffwe6epcrzj30jg0jgacn.jpg">
          </div>

          <div class="service-info text-center">
            <h4>表情太多，不好找？</h4><br/>
            <p>我们已构建全网最完善的情绪数据库</p>
            <p>闪电搜索，只要你说得出来，即刻拥有。</p>
          </div>
        </div>


        <div class="col-md-4">
          <div class="service-item-img text-center">
            <%=image_tag("service.png") %>
          </div>


          <div class="service-info text-center">
            <h4>更萌更酷更炫</h4><br/>
            <p>不断更新的数据库，为您提供最新的表情</p>
            <p>朋友圈最酷最炫最萌的，就是你！</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="section2-show">
      <strong>D
        <span id="h01">E</span>
        <span id="h02">S</span>
        <span id="h03">I</span>
        <span id="h04">G</span>
        <span id="h05">N</span>
      </strong>
      <h3>SHOW-TIME</h3>
    </div> -->
    <div class="section2-title">
      <h1>设计展示</h1>
      <h3>用心做表情，每个表情都给你惊喜</h3>
    </div>
    <div class="short-line"></div>

    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
          <div class=" show-box">
            <div class="row">
              <div class="show-img">
                <%= image_tag("http://img.wxcha.com/file/201607/15/3d67cbde48.gif") %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-3 text-center">
          <div class=" show-box">
            <div class="row">
              <div class="show-img">
                <%= image_tag("http://img.wxcha.com/file/201605/17/46f4872bdf.gif") %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-3 text-center">
          <div class=" show-box">
            <div class="row">
              <div class="show-img">
                <%= image_tag("http://img.wxcha.com/file/201603/23/55442410a5.gif") %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-3 text-center">
          <div class=" show-box">
            <div class="row">
              <div class="show-img">
                <%= image_tag("http://img.wxcha.com/file/201512/23/b76eaa789a.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--======第三部分end======-->



<!--======第四部分======-->
<div class="row">
  <div class="section2">
    <div class="section2-title">
      <h1>用户评价</h1>
      <h3>用心做表情，每个表情都给你惊喜</h3>
    </div>
    <div class="short-line"></div>

    <div class="container service-box">
      <div class="row">
        <div class="col-md-4 ">
          <div class="service-item-img text-center">
            <%= image_tag("http://img.wxcha.com/file/201706/02/7eb7dd00a8.png") %>
          </div>

          <div class="service-info text-center">
            <h4>顾客s***6</h4><br/>
            <p>店主超级nice，出图快！真的好可爱啊！ <br>等我再来找你做一套。好喜欢～</p>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="service-item-img text-center">
            <%= image_tag("http://img.wxcha.com/file/201610/21/1e5e623a6e.jpg") %>
          </div>

          <div class="service-info text-center">
            <h4>顾客面***悠</h4><br/>
            <p>哇，可爱到爆炸，美美美，<br>以下省略500字表白。</p>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="service-item-img text-center">
            <%= image_tag("http://img.wxcha.com/file/201706/02/d229d5dbcb.png") %>
          </div>

          <div class="service-info text-center">
            <h4>顾客最***8</h4><br/>
            <p>
              满分，敲可爱！</p>
            <p>
              简直可爱到爆！太喜欢啦！！！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="line-2">
    <a href="/products/">
      <h1>—欢迎来到卖萌网—</h1>
    </a>
  </div>
</div>

<!--======第四部分end======-->


<!--======第五部分======-->
<div class="row">
  <div class="section5">
    <!-- <div class="section5-coopration">
      <strong>C
        <span id="h01">O</span>
        <span id="h01">O</span>
        <span id="h02">P</span>
        <span id="h02">E</span>
        <span id="h03">R</span>
        <span id="h03">A</span>
        <span id="h04">T</span>
        <span id="h04">I</span>
        <span id="h05">O</span>
        <span id="h05">N</span>
      </strong>
      <h3>——————————</h3>
      <h3>合作流程</h3>
    </div> -->
    <div class="section2-title">
      <h1>合作流程</h1>
    </div>


    <div class="row">
    <div class="line-3"></div>
    </div>
    <div class="container">
    <div class="row">
      <div class="coopration col-md-2">
        <b>需求沟通</b>
      </div>
      <div class="coopration col-md-2">
        <b>订单付款</b>
      </div>
      <div class="coopration col-md-2">
        <b>设计进行</b>
      </div>
      <div class="coopration col-md-2">
        <b>按需调整</b>
      </div>
      <div class="coopration col-md-2">
        <b>合格收货</b>
      </div>
      <div class="coopration col-md-2">
        <b>售后支持</b>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="line-3"></div>
    </div>
  </div>
</div>
<!--======第五部分end======-->

<!---Back to top--->
<button onclick="topFunction()" id="myBtn" title="Go to top">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>
