
<!--======第一部分======-->
<div class="row">
  <div class="section1 wow rollIn" data: {wow_delay: 1.5s} >
    <a href="/products">
      <h1>这里不仅卖<span>包</span>
        <br>还卖<span>萌</span>!
      </h1>
      <h3>EXCLUSIVE MEME</h3>
    </a>
  </div>


  <div class="first-line">
    <h1>—欢迎来到卖萌网—</h1>
  </div>
</div>
<!--======第一部分end======-->



<!--======第二部分======-->
<div class="row">
  <div class="section2">
    <div class="section2-title">
      <h1>最hot表情</h1>
      <h3>用心做表情，每个表情都给你惊喜</h3>
    </div>
    <div class="short-line"></div>

    <div class="container products-box">
      <div class="row">
        <div class="col-xs-6 col-md-3 text-center product-lists">
          <a target="_blank" href="/products/#"><img class="product-lists-img img-responsive center-block wow pulse" data: {wow_delay: 1.5s} src="http://img.wxcha.com/file/201705/26/e7e72c7c19.gif" alt="image01"></a>
          <br>
          <a target="_blank" href="/products/#">吃粽子了吗</a>
          <br>
          <strong>￥
            <a target="_blank" href="/products/#">9.9</a>
          </strong>
          <p></p>
        </div>


        <div class="col-xs-6 col-md-3 text-center product-lists">
          <a target="_blank" href="/products/#"><img class="product-lists-img img-responsive center-block" src="http://img.wxcha.com/file/201705/09/89130b6b3f.gif" alt="image02"></a>
          <br>
          <a target="_blank" href="/products/#">银河护卫队</a>
          <br>
          <strong>￥
            <a target="_blank" href="/products/#">9.9</a>
          </strong>
          <p></p>
        </div>


        <div class="col-xs-6 col-md-3 text-center product-lists">
          <a target="_blank" href="/products/#"><img class="product-lists-img img-responsive center-block" src="http://img.wxcha.com/file/201705/09/668256a1fd.gif" alt="image03"></a>
          <br>
          <a target="_blank" href="/products/#">小树人</a>
          <br>
          <strong>￥
            <a target="_blank" href="/products/#">9.9</a>
          </strong>
          <p></p>
        </div>

        <div class="col-xs-6 col-md-3 text-center product-lists">
          <a target="_blank" href="/products/#"><img class="product-lists-img img-responsive center-block" src="http://img.wxcha.com/file/201705/26/e24fdb55cd.gif" alt="image04"></a>
          <br>
          <a target="_blank" href="/products/#">把心给你</a>
          <br>
          <strong>￥
            <a target="_blank" href="/products/#">9.9</a>
          </strong>
          <p></p>
        </div>

        <div class="col-xs-6 col-md-3 text-center product-lists">
          <a target="_blank" href="/products/#"><img class="product-lists-img img-responsive center-block" src="http://img.wxcha.com/file/201703/23/bcdad3ebbd.gif" alt="image05"></a>
          <br>
          <a target="_blank" href="/products/#">兔子妹</a>
          <br>
          <strong>￥
            <a target="_blank" href="/products/#">9.9</a>
          </strong>
          <p></p>
        </div>

        <div class="col-xs-6 col-md-3 text-center product-lists">
          <a target="_blank" href="/products/#"><img class="product-lists-img img-responsive center-block" src="http://img.wxcha.com/file/201704/11/951fb542a3.jpg" alt="image06"></a>
          <br>
          <a target="_blank" href="/products/#">达康书记GDP</a>
          <br>
          <strong>￥
            <a target="_blank" href="/products/#">9.9</a>
          </strong>
          <p></p>
        </div>

        <div class="col-xs-6 col-md-3 text-center product-lists">
          <a target="_blank" href="/products/#"><img class="product-lists-img img-responsive center-block" src="http://img.wxcha.com/file/201705/10/ef1bf84ae0.gif" alt="image07"></a>
          <br>
          <a target="_blank" href="/products/#">爱心发射</a>
          <br>
          <strong>￥
            <a target="_blank" href="/products/#">9.9</a>
          </strong>
          <p></p>
        </div>

        <div class="col-xs-6 col-md-3 text-center product-lists">
          <a target="_blank" href="/products/#"><img class="product-lists-img img-responsive center-block" src="http://img.wxcha.com/file/201705/24/0c974e31ae.jpg" alt="image08"></a>
          <br>
          <a target="_blank" href="/products/#">小可爱在吗</a>
          <br>
          <strong>￥
            <a target="_blank" href="/products/#">9.9</a>
          </strong>
          <p></p>
        </div>

      </div>
    </div>
  </div>
</div>

<!--======第二部分end======-->


<!--======第三部分======-->

<div class="row">
  <div class="section2">
    <div class="section2-title">
      <h1>最优质服务</h1>
      <h3>用心做表情，每个表情都给你惊喜</h3>
    </div>
    <div class="short-line"></div>

    <div class="container service-box">
      <div class="row">
        <div class="col-md-4 ">
          <div class="service-item-img text-center">
            <%= image_tag("designer.jpg") %>
          </div>


          <div class="service-info text-center">
            <h4>专属设计师团队</h4><br/>
            <p>私人定制次日交货，最快12小时交稿</p>
            <p>免去您挑选和等待的烦恼
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-item-img text-center">
            <img src="https://ww3.sinaimg.cn/large/006tNc79gy1ffwe6epcrzj30jg0jgacn.jpg">
          </div>

          <div class="service-info text-center">
            <h4>手绘和软件的结合</h4><br/>
            <p>我们是手绘高手，也是技术大神</p>
            <p>艺术与科技的完美结晶=软萌可爱的你</p>
          </div>
        </div>


        <div class="col-md-4">
          <div class="service-item-img text-center">
            <%=image_tag("service.png") %>
          </div>


          <div class="service-info text-center">
            <h4>更萌更快，贴心服务</h4><br/>
            <p>快速跟进用户反馈，修改到您满意为止</p>
            <p>不满意申请退款，立即办理马上到账</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section2-show">
      <strong>D
        <span id="h01">E</span>
        <span id="h02">S</span>
        <span id="h03">I</span>
        <span id="h04">G</span>
        <span id="h05">N</span>
      </strong>
      <h3>SHOW-TIME</h3>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
          <div class=" show-box">
            <div class="row">
              <div class="show-img">
                <%= image_tag("http://meitu.qqzong.com/uploads/allimg/c150528/1432M0551Sb0-1QJ91.jpg") %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-3 text-center">
          <div class=" show-box">
            <div class="row">
              <div class="show-img">
                <%= image_tag("http://meitu.qqzong.com/uploads/allimg/c150527/1432BaO60T0-2013027.jpg") %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-3 text-center">
          <div class=" show-box">
            <div class="row">
              <div class="show-img">
                <%= image_tag("http://www.qqyuce.com/uploads/allimg/160919/0H404N59-0.jpg") %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-3 text-center">
          <div class=" show-box">
            <div class="row">
              <div class="show-img">
                <%= image_tag("http://meitu.qqzong.com/uploads/allimg/c150529/1432R94534160-335P42.jpg") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--======第三部分end======-->



<!--======第四部分======-->
<div class="row">
  <div class="section2">
    <div class="section2-title">
      <h1>用户评价</h1>
      <h3>用心做表情，每个表情都给你惊喜</h3>
    </div>
    <div class="short-line"></div>

    <div class="container service-box">
      <div class="row">
        <div class="col-md-4 ">
          <div class="service-item-img text-center">
            <%= image_tag("http://meitu.qqzong.com/uploads/allimg/c150528/1432RGHc510-2954O9.jpg") %>
          </div>

          <div class="service-info text-center">
            <h4>顾客s***6</h4><br/>
            <p>店主超级nice，出图快， 还多送了我一个表情！真的好可爱啊！ 等我再来找你做一套。好喜欢～</p>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="service-item-img text-center">
            <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2PK0YMsm005TcIqdBw4CdaTC9gQ3Oyyfeos930GnjxEbjif1a") %>
          </div>

          <div class="service-info text-center">
            <h4>顾客面***悠</h4><br/>
            <p>哇，可爱到爆炸，美美美，以下省略500字表白。</p>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="service-item-img text-center">
            <%= image_tag("http://meitu.qqzong.com/uploads/allimg/c150527/1432D5640O30-4M4E.jpg") %>
          </div>

          <div class="service-info text-center">
            <h4>顾客最***8</h4><br/>
            <p>
              满分，敲可爱！</p>
            <p>
              简直可爱到爆！太喜欢啦！！！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="line-2">
    <h1>—欢迎来到卖萌网—</h1>
  </div>
</div>

<!--======第四部分end======-->


<!--======第五部分======-->
<div class="row">
  <div class="section5">
    <div class="section5-coopration">
      <strong>C
        <span id="h01">O</span>
        <span id="h01">O</span>
        <span id="h02">P</span>
        <span id="h02">E</span>
        <span id="h03">R</span>
        <span id="h03">A</span>
        <span id="h04">T</span>
        <span id="h04">I</span>
        <span id="h05">O</span>
        <span id="h05">N</span>
      </strong>
      <h3>——————————</h3>
      <h3>合作流程</h3>
    </div>
    <div class="row">
    <div class="line-3"></div>
    </div>
    <div class="container">
    <div class="row">
      <div class="coopration col-md-2">
        <b>需求沟通</b>
      </div>
      <div class="coopration col-md-2">
        <b>订单付款</b>
      </div>
      <div class="coopration col-md-2">
        <b>设计进行</b>
      </div>
      <div class="coopration col-md-2">
        <b>按需调整</b>
      </div>
      <div class="coopration col-md-2">
        <b>合格收货</b>
      </div>
      <div class="coopration col-md-2">
        <b>售后支持</b>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="line-3"></div>
    </div>
  </div>
</div>
<!--======第五部分end======-->
