<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="category">
      <h1>Categories</h1>

      <table class="table table-boldered">
      <thead>
      	<tr>
        	<th>Name</th>
        	<th colspan="3"></th>
      	</tr>
      </thead>

      <tbody>
      	<% @categories.each do |category| %>
        	<tr>
          	<td><%= category.name %></td>
          	<td><%= link_to '查看', category %></td>
          	<td><%= link_to '编辑', edit_category_path(category) %></td>
          	<!-- <td><%= link_to '删除', category, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        	</tr>
      	<% end %>
      </tbody>
      </table>

      <br>

      <button><%= link_to 'New Category', new_category_path %></button>
    </div>
    </div>
  </div>
</div>
