<!DOCTYPE html>
<html>
  <head>
    <title>MaiMeng</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>

  <body>

        <div class="container-fluid">
          <div class="row">
            <%= render "common/navbar" %>
          </div>
            <%= render "common/flashes" %>
            <%= yield %>
        </div>

        <%= render "common/footer" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
       <%= yield :handwrite_javascript %>
    </body>
</html>
